<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaguo.codegenerategraduation.web.mapper.SysUserMapper">

    <select id="pageQueryUser" parameterType="com.jiaguo.codegenerategraduation.web.controller.vo.SysUserVo"
            resultType="com.jiaguo.codegenerategraduation.web.controller.vo.SysUserVo">
        select u.id, u.username, u.password, u.nickname, u.create_time, u.create_by, u.update_time, u.update_by
        from sys_user u
        <where>
        <if test="vo != null">
            <if test="vo.username != null">
                and u.username = #{vo.username}
            </if>
            <if test="vo.nickname != null">
                and u.nickname = #{vo.nickname}
            </if>
            <if test="vo.createTime != null">
                and u.create_time = #{vo.createTime}
            </if>
            <if test="vo.createBy != null">
                and u.create_by = #{vo.createBy}
            </if>
            <if test="vo.updateTime != null">
                and u.update_time = #{vo.updateTime}
            </if>
            <if test="vo.updateBy != null">
                and u.update_by = #{vo.updateBy}
            </if>
                u.del_flag = 0
        </if>
        </where>
        ORDER BY update_time DESC
    </select>


</mapper>